body {
  margin: 0
}

table {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
td {
  width: 20.00%;
  position: relative;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td.bingoHeaderCell:after {
  margin-top: 50%;
}

td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gold;
  text-align: center; 
  vertical-align: middle;
  padding: 3px 3px;
}

td .selected {
    background: red;
}
/* 
.pe-toolbar__title--center {
  
} */

@media only screen and (max-width: 600px) {
  table {
    width: 100%;
  }
}